/* reset */

html, body, div, span, h1, p, a, em, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    /*vertical-align: baseline;*/
}

body {
    background: #ffffff; 
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #1a1a1a;
    line-height: 1.6;
}

/* nadpisy a ostatnĂ­ tagy */

h1 {
    font-size: 225%;
    margin-bottom: 15px;
    font-weight: bold;
}

a {
    color: #ff0000;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 15px 0;
}
i, em {
    font-style: italic;
}
b, strong {
    font-weight: bold;
}
ul, ol {
    list-style: none;
    margin: 15px;
    padding: 0;
}
ol {
    margin-left: 25px;
    list-style-type: decimal;
}

.clr {
    clear: both;
}
.tcenter {
    text-align: center;
}

label.show-more {
    color: blue;
    margin-left: 46.5%;
    line-height: 35px;
    cursor: pointer;
}
label.show-more:hover {
    text-decoration: underline;
}
input.show-more {
    display: none;
}
input.show-more:not(:checked) ~ tr {
    display: none;
}
input.show-more:checked + label.show-more {
    display: none;
}

/* layout */

#page {
    margin: 0 auto;
    width: 980px;
}

#header {
    position: relative;
    height: 150px;
}

#header img {
    position: absolute;
    top: 30px;
    left: 0;
}

#content {
    border: 5px solid #009b33;
    background-color: #effff0;
    padding: 15px;
    margin: 15px 50px 50px;
    min-height: 160px;
}

.footer {
    background: #42A5F5;
    color: white;
    line-height: 50px;
    padding: 0 20px;
    margin-top: 25px;
}

.web_disabled #content {
    background-color: #ffefef;
    border-color: #e2001a;
}

#content img {
    float: left;
    margin-right: 25px;
    padding-bottom: 50px;
}

#footer {
    clear: both;
    height: 200px;
    border-top: 1px solid #ccc;
}

#footer p {
    text-align: center;
}

.ad {
    max-width: 1000px;
}

.content {
    min-height: 100%;
}
.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}
.footer {
    height: 50px;
    text-align:center;
	display: flex;
    align-items: center;
    justify-content: center;
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
}

.footer > a {
    margin-left: 5px;
    color: #ffffff;
}

.footer > form {
    margin-left: 30px;
}

.footer input[type="image"] {
    height: 34px;
}

.footer img {
	float: right;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    table-layout: fixed;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}
table th,
table td {
    padding: .625em;
    padding-left: 20px;  
}

table td:nth-of-type(2) {
    text-align: center;
}
		
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}
.loader {
    border: 5px solid #e0e0e0;
    animation: spin .7s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}